<p-toast/>
<body class="background-container">
<div class="login-container">

      <section class="login-text-left">
        <span>VISUALIZE</span>
        <span>SEUS SONHOS</span>
        <span>EXPRESSE</span>
        <span>SUA GRATIDÃO</span>
      </section>

      <section class="login-form-right">
        <div class="login-content">
          <img src="../../../../assets/images/logo.png" alt="logo gratitude">
          <form [formGroup]="loginForm">
          <div class="login-form">
             <input type="email" formControlName="email" class="form-control" placeholder="E-mail">
             <input type="password" formControlName="password" class="form-control" placeholder="Password">
             <p-button label="Entrar" (click)="login()" [rounded]="true" />
             <a href="/register"><p class="login-new-account">Não possui conta? Cadastre-se</p></a>
            </div>
          </form>
        </div>

      </section>
</div>
</body>
