<body class="background-container">
<div class="login-container">

      <section class="login-text-left">
        <span>Visualize</span>
        <span>seus sonhos</span>
        <span>expresse</span>
        <span>sua gratidão</span>
      </section>

      <section class="login-form-right">
        <div class="login-content">
          <img src="../../../../assets/images/logo.png" alt="logo gratitude">
           <div class="login-form">
             <input type="email"  class="form-control" placeholder="E-mail">
             <input type="password" class="form-control" placeholder="Password">
             <p-button label="Entrar" (click)="login()" [rounded]="true" />
             <a href="/register"><p class="login-new-account">Não possui conta? Cadastre-se</p></a>
           </div>
        </div>

      </section>
</div>
</body>
