<body class="background-container">
  <div class="splash-container">

    <section class="splash-text-left">
      <span>Visualize</span>
      <span>seus sonhos</span>
      <span>expresse</span>
      <span>sua gratidão</span>
    </section>

    <section class="splash-line-center">
      <hr>
    </section>

    <section class="splash-text-right">
        <img src="../../../../assets/images/logo.png" alt="logo gratitude">

        <div class="splash-buttons">
        <p-button label="Primeiro acesso? Cadastre-se" [rounded]="true" />
        <p-button label="Fazer login" [rounded]="true" />
        </div>
    </section>
  </div>
</body>
