<body class="background-container">
  <div class="splash-container">

    <section class="splash-text-left">
      <span>VISUALIZE</span>
      <span>SEUS SONHOS</span>
      <span>EXPRESSE</span>
      <span>SUA GRATIDÃO</span>
    </section>

    <section class="splash-line-center">
      <hr>
    </section>

    <section class="splash-text-right">
        <img src="../../../../assets/images/logo.png" alt="logo gratitude">

        <div class="splash-buttons">
        <a href="/register"><p-button label="Primeiro acesso? Cadastre-se" [rounded]="true" /></a>
        <a href="/login"><p-button label="Fazer login" [rounded]="true" /></a>
        </div>
    </section>
  </div>
</body>
