.background-container{
  background-image: url('../../../../assets/images/gratitude-background.jpg');
  background-repeat: no-repeat;
  background-position: top;
}

.splash-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 150px;
}
.splash-text-left span{
  display: block;
  font-family: 'Fortuna', sans-serif;
  color: #FFF;
  font-size: 128px;
}
.splash-line-center hr{
  width: 1px;
  height: 500px;
  background-color: #EDEAE4;
  border: none;
}
.splash-text-right img{
  width: 400px;
}
.splash-buttons p-button{
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.splash-buttons{
  padding-bottom: 100px;
}

:host ::ng-deep .p-button.p-button-rounded {
  width: 250px !important;
  color: #648398;
  font-family: 'LSpartan-Regular', sans-serif;
}

:host ::ng-deep .p-button.p-button-rounded:hover {
  color: #FFF;
}
:host
  ::ng-deep {
    --p-button-primary-background: #BCE0FB;
    --p-button-primary-border-color: none;
    --p-button-primary-hover-background: #648398;
    --p-button-primary-hover-border-color: none;

    .p-button {
      background-color: var(--p-button-primary-background);
      border: var(--p-button-primary-border-color);

       &:hover {
        background-color: var(--p-button-primary-hover-background);
        border-color: var(--p-button-primary-hover-border-color);
      }
    }

}
