html, body{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{text-decoration: none;}
@font-face{
    src: url("assets/fonts/Fontuna-Stencil.otf");
    font-family: "Fortuna";
}

@font-face{
    src: url("assets/fonts/LSpartan/LeagueSpartan-Regular.ttf");
    font-family: "LSpartan-Regular";
}

@font-face{
    src: url("assets/fonts/LSpartan/LeagueSpartan-Bold.ttf");
    font-family: "LSpartan-Bold";
}

